NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

REPLICATE_API_TOKEN=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

MONGODB_USER=
MONGODB_PASSWORD=
MONGODB=

NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PAYPAL_SECRET=

GEMINI_API_KEY=
OPENAI_API_KEY=